.main {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border-bottom: 0.5px solid rgb(211, 211, 211);
  display: flex;
  align-items: center;
  padding: 0px 50px;
  background-color: var(--background-300);
}

.title {
  user-select: none;
  font-family: "doto", sans-serif;
  font-variation-settings: "ROND" 0;
  font-weight: 900;
  font-size: 40px;
  text-decoration: none;

  background: linear-gradient(90deg, var(--primary-500) 0%, var(--accent-500) 47%, var(--primary-500) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0.5px 0.5px 0.1px color-mix(in srgb, var(--background-950) 10%, transparent);
}
